.statistics {
  width: 270px;
  height: 130px;
  margin: 45px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 16px;
  font-family: 'Lato', sans-serif;
}

.title {
  width: 270px;
  height: 130px;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
  vertical-align: middle;
}

.statList {
  padding: 0;
  margin: 0;
  list-style: none;
  width: 270px;
  height: 60px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  font-size: 12px;
  font-weight: 400;
}

.item {
  width: 54px;
  height: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: turquoise;
}

.label {
  font-size: 12px;
  font-weight: 400;
}

.percentage {
  font-size: 16px;
  font-weight: 600;
}
